{% extends "base.html" %}
{% block titulo %} Listado de amigos {% endblock %}
{% block contenido_principal %}
	<div class="container">
		<h2>Tus amigos:</h2>
		<form class="navbar-form" action="/usuarios/listFriends">
		</form>
		<p>Los usuarios amigos son los
			siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Email</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					{% for usuario in usuarios %}
					<tr>
						<td><div>
							<div>
								<p>{{usuario}}</p>
							</div>
						</div></td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}