{% extends "base.html" %}
{% block titulo %} Listado de amigos {% endblock %}
{% block contenido_principal %}

		<h2>Tus amigos:</h2>
		<form class="navbar-form" action="/usuarios/listFriends">
		</form>
		<p>Los usuarios amigos son los
			siguientes:</p>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Email</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					{% for usuario in usuarios %}
					<tr>
						<td><div>
							<div>
								<p>{{usuario.nombre}}</p>
							</div>
						</div></td>
						<td>{{usuario.email}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

<div class="row text-center">
	<ul class="pagination">
		<!-- Primera -->
		<li class="page-item" >
			<a class="page-link" href="/usuarios/listFriends?pg=1" >Primera</a>
		</li>

		<!-- Anterior (si la hay ) -->
		{% if pgActual-1 >= 1 %}
		<li class="page-item">
			<a class="page-link" href="/usuarios/listFriends?pg={{ pgActual -1 }}" >{{ pgActual -1 }}</a>
		</li>
		{% endif %}

		<!-- Actual -->
		<li class="page-item active" >
			<a class="page-link" href="/usuarios/listFriends?pg={{ pgActual }}">{{ pgActual }}</a>
		</li>

		<!-- Siguiente (si la hay) -->
		{% if pgActual+1 <= pgUltima %}
		<li class="page-item">
			<a class="page-link" href="/usuarios/listFriends?pg={{ pgActual+1 }}" >{{ pgActual+1 }}</a>
		</li>
		{% endif %}

		<!-- Última -->
		<li class="page-item" >
			<a class="page-link" href="/usuarios/listFriends?pg={{ pgUltima }}" >Última</a>
		</li>
	</ul>
</div>
{% endblock %}